.mainHeader{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10%;
    background-color: rgba(194, 165, 165, 0.911);
    color: rgb(87, 34, 34);
}
.logo{
    font-family: 'Tai Heritage Pro', serif;
    cursor: pointer;
    font-weight: bold;
    font-size: 30px;
}
.navList{
    list-style: none;
}
.navList li{
    display: inline-block;
    padding: 8px 20px;
    font-size: 20px;
  
    
}
.navList li a{
    text-decoration: none;
    color:rgb(59, 20, 20) ;
}
.navList li a:hover{
    color: rgb(14, 14, 15);
    font-size: large;
    font-weight: bold
}

/* .buttons a{
 text-decoration: none;
}
.button{
    border: none;
    cursor: pointer;
    padding:8px 8px;
    background-color: green;
   border-radius: 2rem;
}
button:hover{
    background-color: brown;

} */
a button{
    padding:10px 20px;
    background-color: rgb(25, 122, 62);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    color: azure;
}
a button:hover{
    padding:15px 22px;
    background-color: aliceblue;
    color: rgb(88, 11, 11);
    border-radius: 40px;
}
.checkBtn{
    color: white;
    font-size: 30px;
    float: right;
    margin-right: 50px;
    display: none;
}
#check{
    display: none;
}
@media (max-width:980px){
    .logo{
        
    }
    
}